/.bundle

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/storage/*

/node_modules
/yarn-error.log

/public/assets
.byebug_history

/config/master.key

.idea/*

/public/packs
/public/packs-test
yarn-debug.log*
.yarn-integrity
.generators
.rakeTasks
.env
